.img-home {                                                                           /* aca comienza el home */
  width: 50%;
  display: block;
  margin: auto;
  border-radius: 30%;
}

.seccion-home {
  width: 80%;
 margin: auto;
  background: #dbbfbf;
  padding: 1%;
  border-radius: 5%;
}                                                                                     /* aca termina el home */
                                                                                         
.div-analisis{                                                                        /* aca comienza analisis */
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 87%, rgba(0, 212, 255, 1) 100%);
color: white;
margin: 2%;
padding: 1%;
border: dashed;
text-align: center;
}                                                                                      /* aca termina analisis */ 

.actores-reparto{                                                                      /* aca comienza reparto */
    padding: 3%;
    border: solid black;
    width: 70%;
    margin: auto;
    border-radius: 10%;

}

section li{
    background-color: rgb(118, 143, 143);
}

.ul-reparto{
    background-color: rgba(142, 142, 112, 0.475);
}

.reparto-h1{
    background-color: rgba(182, 219, 251, 0.564);
}                                                                                          /* aca termina reparto */

.produccion-h1{
  background-color: rgba(236, 110, 110, 0.409);
  width: 100% 100%;
}

.div-produccion{                                                                      /* aca comienza produccion */
  background: #833AB4;
background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  padding: 1%;
  text-align: center;
}
.div-produccion img{
  max-height: 200px;
}
main p{
  background-color: rgba(255, 255, 255, 0.564);
  padding: 2.5%;
}                                                                                      

aside{
    background-color: #996b57;
 border:solid beige;
 padding: 1%;
 width: 30% auto;
 margin-left: 50%;
 text-align: center;
}                                                                                       /* aca termina produccion */

.ul-datos{
  background-color: #f4c5b0;
  border: solid;
}

.div-datos{
  background-color: rgb(26, 64, 51);
}
.div-datos img{
  border: solid;
  border-radius: 20%;
  width: 30%;
}

main h1{
  background-color: rgba(13, 119, 20, 0.393);
  text-align: center;
}

.seccion-contacto{
  background-color: beige;
}